<div class="top-nav contain-to-grid wrapper">
  <nav class="top-bar">
    <ul>
      <li id="smallTimer" class="small-text flip-flop show">
        <a class="cube" href="{{ path('app_home') }}">
          <div class="duration flippety media-screen">
            L'accueil
          </div>
          <div class="flop media-screen">
            <span class="description">Qui sommes nous ? Cliquez !</span>
          </div>
        </a>
      </li>
      <li id="smallTimer" class="small-text flip-flop show">
        <a class="cube" href="{{ path('app_equipe') }}">
          <div class="duration flippety media-screen">
            L'équipe
          </div>
          <div class="flop media-screen">
            <span class="description">Deux profesionnels pour vous !</span>
          </div>
        </a>
      </li>
      <li class="dropdown">
        <a href="{{ path('app_services') }}" class="dropbtn">Services</a>
        <div class="dropdown-content">
          <a href="{{ path('app_seo') }}">SEO</a>
          <a href="{{ path('app_shopify') }}">E-Commerce Shopify/ WordPress</a>
          <a href="{{ path('app_developpement') }}">Création site Internet</a>
        </div>
      </li>

      <li id="smallTimer" class="small-text flip-flop show">
        <a class="cube" href="{{ path('app_contact') }}">
          <div class="duration flippety media-screen">
            Nous Contacter
          </div>
          <div class="flop media-screen">
            <span class="description">
              N'ayez pas peur, dites nous vos envies.
            </span>
          </div>
        </a>
      </li>
      {% if is_granted('ROLE_USER') %}
        <li id="smallTimer" class="small-text flip-flop show">
          <a class="cube" href="{{ path('app_mon_compte') }}">
            <div class="duration flippety media-screen">
              Se connecter
            </div>
            <div class="flop media-screen">
              <span class="description">Votre compte</span>
            </div>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

<section class="wrapper-responsive container">
  <div class="logo_responsive">
    <img class="logo_nav_responsive"
      src="{{ asset('/images/m.k.logo.jpg') }}"
      alt="image_team" />
  </div>
  {# <a href="#" class="brand">M K Angence</a> #}
  <div class="burger" id="burger">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </div>
  <span class="overlay"></span>
  <nav class="navbar" id="navbar">
    <ul class="menu" id="menu">
      <li class="menu-item">
        <a href="{{ path('app_home') }}" class="menu-link">Accueuil</a>
      </li>
      <li class="menu-item menu-dropdown">
        <span class="menu-link" data-toggle="submenu">
          L'équipe<i class="bx bx-chevron-down"></i>
        </span>
        <ul class="submenu">
          <li class="submenu-item">
            <a href="{{ path('app_equipe') }}" class="submenu-link">
              Angela Conrad
            </a>
          </li>
          {# <li class="submenu-item">
            <a href="#" class="submenu-link">Feature Link</a>
          </li> #}
        </ul>
      </li>
      <li class="menu-item menu-dropdown">
        <span class="menu-link" data-toggle="submenu">
          Services<i class="bx bx-chevron-down"></i>
        </span>
        <ul class="submenu">
          <li class="submenu-item">
            <a href="{{ path('app_seo') }}" class="submenu-link">SEO</a>
          </li>
          <li class="submenu-item">
            <a href="{{ path('app_shopify') }}" class="submenu-link">
              Shopify/ WordPress
            </a>
          </li>
          <li class="submenu-item">
            <a href="{{ path('app_developpement') }}" class="submenu-link">
              Création site Internet
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-dropdown">
        <span class="menu-link" data-toggle="submenu">
          Nous Contacter<i class="bx bx-chevron-down"></i>
        </span>
        <ul class="submenu">
          <li class="submenu-item">
            <a href="{{ path('app_contact') }}" class="submenu-link">
              Formulaire
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="#" class="menu-link">Support</a></li>
    </ul>
  </nav>
</section>
