{% extends 'base.html.twig' %}
{% block title %}
  SEO - Le Référencement Naturel
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet"
    href="{{ asset('assets/styles/developpementWeb.scss') }}" />
{% endblock %}

{% block body %}
  <main class="main-block-services">
    <div class="main-page-seo">
      <div class="row block-page-seo">
        <div class="col-12 col-lg-6 animated-block-image before_left">
          <div class="contenu-page-seo">
            <p class="contenu-para-seo">
              Votre site Internet en première page de Google. La visibilité de
              votre site sur Google est vitale. Au sein de notre agence, notre
              équipe met en place une stratégie de référence propre et de
              qualité. Ainsi nos actions sont pensées à l'épreuve des mises à
              jour de Google. Nous optimisons les performances techniques de
              votre sitet, sa structure, son contenu ainsi que son profil de
              liens entrants. Nous sortons également votre site de toute
              pénalité algorithmique (Pingouin et Panda) et manuelle. Nous vous
              accompagnons dans la mise en place de votre stratégie de
              référencement naturel et nous vous proposons des solutions
              adaptées à votre budget.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <div class="image-page-seo">
              <img class="images-seo"
                src="{{ asset('/images_page_seo/seo-serp.jpg') }}"
                alt="image_seo" />
            </div>
          </div>
        </div>
        <div class="contenu-page-seo animated-block-right before_right">
          <p class="contenu-para-seo">
            Votre site Internet en première page de Google. La visibilité de
            votre site sur Google est vitale. Au sein de notre agence, notre
            équipe met en place une stratégie de référence propre et de qualité.
            Ainsi nos actions sont pensées à l'épreuve des mises à jour de
            Google. Nous optimisons les performances techniques de votre sitet,
            sa structure, son contenu ainsi que son profil de liens entrants.
            Nous sortons également votre site de toute pénalité algorithmique
            (Pingouin et Panda) et manuelle. Nous vous accompagnons dans la mise
            en place de votre stratégie de référencement naturel et nous vous
            proposons des solutions adaptées à votre budget.
          </p>
        </div>
      </div>
      {# code nuno help :) #}
      <div class="container button-seo">
        <a href="http://" class="custom-btn-seo btn-12">
          <span>N'hesitez pas à nous contacter !</span>
          <span>Vous êtes interessé ?</span>
        </a>
      </div>
      <div class="row block-page-seo">
        <div class="referencement-seo">
          <div class="block-referencement-naturel before_left">
            <h2 class="titre-reference-naturel">
              Qu'est ce que le référencement naturel ?
            </h2>
            <p class="contenu-para-seo">
              Le SEO (Search Engine Optimization) est l’art d’améliorer le
              positionnement d’un site et d’augmenter le trafic. Par exemple,
              vous possédez un site Web qui vend des chaussures en cuir et de la
              maroquinerie et vous voudriez apparaître comme le premier résultat
              de recherche à chaque fois qu’un client potentiel recherche la
              phrase «acheter chaussures en cuir» sur Google. Pour comprendre la
              définition du référencement, il faut savoir qu’il s’agit d’un
              terme générique et il comprend de nombreuses stratégies
              différentes. Il existe de nombreuses façons d’améliorer la qualité
              de votre positionnement.
            </p>
          </div>
        </div>
      </div>
      <div class="row block-page-seo">
        <div class="referencement-seo">
          <div class="block-referencement-naturel before_right">
            <h2 class="titre-reference-naturel">
              Notre rôle en tant qu'agence de référencement naturel
            </h2>
            <p class="contenu-para-seo">
              Notre travail doit penser aux actions que l'on devra entreprendre
              dans le cadre d’une stratégie globale de votre société. Pourquoi ?
              Le référencement fait partie d’une stratégie digitale qui doit
              s’intégrer dans les objectifs de votre entreprise pour obtenir des
              résultats efficaces. Quels sont vos ambitions chiffrées à moyen et
              long termes ? Quelle est la place du marketing digital ?
              Comptez-vous lancer de nouveaux produits et à quelle échéance ?

              Réduire votre stratégie de marketing digital au référencement
              n’est pas une bonne option. Le succès dépend d’une stratégie
              multicanale qui intègre à la fois les canaux on line et off line.

              Une fois les objectifs de votre entreprise définis , il est plus
              simple de définir des objectifs pour la campagne de référencement
              qui seront en adéquation avec votre stratégie d’entreprise.
            </p>
          </div>
        </div>
      </div>
      <div class="row block-page-seo">
        <div class="referencement-seo">
          <div class="block-referencement-naturel before_left">
            <h2 class="titre-reference-naturel">
              Shopify
            </h2>
            <p class="contenu-para-seo">
              Vous cherchez une agence web spécialisée dans la création de site
              Shopify ? Vous êtes au bon endroit ! Chez M.K Agency, nous sommes
              experts dans la création de sites e-commerce sous Shopify.
            </p>
            <p class="contenu-para-seo">
              Les boutiques en ligne Shopify comportent un référencement naturel
              intégré et des fonctionnalités pour vous aider à optimiser votre
              contenu. Une partie du référencement naturel est prise en charge
              de manière automatique : des balises canoniques générées
              automatiquement sont ajoutées aux pages pour empêcher le contenu
              dupliqué d'apparaitre dans les résultats de recherche. Les
              fichiers sitemap.xml et robots.txt de votre site web sont générés
              automatiquement et les thèmes génèrent automatiquement des balises
              de titre qui comportent le nom de votre boutique. De plus, les
              thèmes sont tenus de présenter des options de liens et de partage
              pour les médias sociaux afin de faciliter la promotion de votre
              boutique.
            </p>
          </div>
        </div>
      </div>
      <div class="seo-titre-area">
        <h2 class="titre-seo">
          Nos domaines d’action
        </h2>
      </div>
      <div class="accordion-seo before_right">
        <div class="accordion-block">
          <div class="accordion-titre titre">
            1. Recherche de mots clés et recherche de concurrents
          </div>
          <div class="content">
            En utilisant des mots-clés dans vos titres, dans vos balises meta ou
            dans votre contenu, nous pouvons commencer à améliorer votre
            classement tout de suite. La recherche de ces expressions est le
            point de départ pour référencer un site et apparaitre dans les
            premiers résultats de recherche Google.
          </div>
        </div>
        <div class="accordion-block">
          <div class="accordion-titre titre">
            2. Configuration et examen analytique
          </div>
          <div class="content">
            Google Analytics vous permet de surveiller vos progrès, vos
            tendances et votre croissance en matière de référencement, le but
            étant de localiser et de résoudre les éventuels problèmes ou pistes
            d’amélioration. Cela vous permet également de voir comment des mots
            clés spécifiques affectent votre trafic et/ou vos ventes. Google
            Analytics est utile pour définir et suivre les objectifs, générer
            des rapports ou simplement voir d’où viennent vos clients.
          </div>
        </div>
        <div class="accordion-block">
          <div class="accordion-titre titre">
            3. Création de sites
          </div>
          <div class="content">
            Notre équipe de développeurs travaille en collaboration avec le
            service SEO. Nous créons ainsi des sites Web qui reflètent votre
            identité et nous utilisons les dernières technologies en termes de
            développement web. Tous nos sites sont optimisés pour être visibles
            sur Google et d’autres moteurs de recherche.

            Nous fournissons aussi d’autres prestations, du passage au HTTPS au
            référencement local ou au référencement vidéo. Nous sommes
            spécialisés dans la sortie de pénalité, pour des sites qui auraient
            été pénalisés par Google. Enfin, nous proposons de l’hébergement de
            sites sur un de nos serveurs dédié.
          </div>
        </div>
      </div>
      <div class="row block-page-seo">
        <div class="referencement-seo before_left">
          <div class="block-referencement-naturel">
            <h2 class="titre-reference-naturel">
              Pourquoi notre agence est faite pour vous ?
            </h2>
            <p class="contenu-para-seo">
              Pour nous le référencement doit être collaboratif. Angela et
              Conrad travailleront main dans la main avec leurs clients, car ce
              sont eux qui sont les plus au courant du secteur d’activité dans
              lequel ils évoluent.
            </p>
            <p class="contenu-para-seo">
              Ils connaissent le millieu du commerce, du digital. Nous sommes
              toutefois spécialisés dans les PME / TPE.
            </p>
            <p class="contenu-para-seo">
              Nos prestations de référencement s’adaptent à vos besoins. Angela
              et Conrad pourront donc vous proposer un service allant d’une
              simple prestation de recherche de lien à un service complet de
              création de site et de référencement.
            </p>
          </div>
        </div>
      </div>
      <div class="container button-seo">
        <a href="#" class="custom-btn-seo btn-12">
          <span>Nous sommes là pour vous</span>
          <span>Vous désirez un devis ?</span>
        </a>
      </div>
      <div class="list_block_area">
        <div class="seo_need before_left">
          <h3 class="subtitle_seo">
            Est-ce que le référencement SEO est adapté pour mon besoin ?
          </h3>
          <p class="contenu-para-seo">
            Levier d’acquisition incontournable pour n’importe quel site web, le
            référencement SEO présente un intérêt en vue d’atteindre des
            objectifs commerciaux mais pas uniquement… Vous pourrez ainsi
            travailler votre image de marque, gérer votre e-réputation, changer
            votre cible marketing, fidéliser votre clientèle, améliorer la
            relation client ou encore affiner vos données de webanalytics.
            Cependant, la première page de Google se mérite et le référencement
            naturel présente certaines contraintes. Dès la réalisation d’un
            devis de référencement SEO, une agence pourra vous aider à
            comprendre les besoins et les possibilités de cette discpline.
          </p>
        </div>
        <div class="block_checked_warning_seo">
          <div class="MOM">
            <div class="block_checked_warning before_right">
              <div class="checked_block_theNeed">
                <div class="list_proposition">
                  <p class="titre_block">
                    Vous avez besoin de
                  </p>
                </div>
              </div>
              <div class="text_block">
                <ul class="list_need_seo contenu-para-seo">
                  <li class="list">
                    <div class="list_paragraph">
                      <div>
                        <p>
                          Vous rendre visible sur les premiers résultats de
                          Google
                        </p>
                      </div>
                      <div>
                        <i class="material-symbols-outlined checked_icon_color">
                          done
                        </i>
                      </div>
                    </div>
                  </li>
                  <li class="list">
                    <div class="list_paragraph">
                      <div>
                        <p>
                          Attirer plus de trafic et de meilleure qualité
                        </p>
                      </div>
                      <div>
                        <i class="material-symbols-outlined checked_icon_color">
                          done
                        </i>
                      </div>
                    </div>
                  </li>
                  <li class="list">
                    <div class="list_paragraph">
                      <div>
                        <p>
                          Orienter le trafic vers les bonnes pages
                        </p>
                      </div>
                      <div>
                        <i class="material-symbols-outlined checked_icon_color">
                          done
                        </i>
                      </div>
                    </div>
                  </li>
                  <li class="list">
                    <div class="list_paragraph">
                      <div>
                        <p>
                          Générer durablement des leads et des ventes
                        </p>
                      </div>
                      <div>
                        <i class="material-symbols-outlined checked_icon_color">
                          done
                        </i>
                      </div>
                    </div>
                  </li>
                  <li class="list">
                    <div class="list_paragraph">
                      <div>
                        <p>
                          Optimiser votre taux de conversion
                        </p>
                      </div>
                      <div>
                        <i class="material-symbols-outlined checked_icon_color">
                          done
                        </i>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="block_checked_warning">
              <div class="before_left">
                <div class="be_ready_to_seo">
                  <div class="list_proposition">
                    <p class="titre_block">
                      Êtes-vous prêt à
                    </p>
                  </div>
                </div>
                <div class="text_block">
                  <ul class="list_need_seo contenu-para-seo">
                    <li class="list">
                      <div class="list_paragraph">
                        <div>
                          <p>
                            Affronter une concurrence féroce
                          </p>
                        </div>
                        <div>
                          <i class="material-symbols-outlined warning_icon_color">
                            warning
                          </i>
                        </div>
                      </div>
                    </li>
                    <li class="list">
                      <div class="list_paragraph">
                        <div>
                          <p>
                            Prendre votre temps
                          </p>
                        </div>
                        <div>
                          <i class="material-symbols-outlined warning_icon_color">
                            warning
                          </i>
                        </div>
                      </div>
                    </li>
                    <li class="list">
                      <div class="list_paragraph">
                        <div>
                          <p>
                            Faire des efforts à long terme
                          </p>
                        </div>
                        <div>
                          <i class="material-symbols-outlined warning_icon_color">
                            warning
                          </i>
                        </div>
                      </div>
                    </li>
                    <li class="list">
                      <div class="list_paragraph">
                        <div>
                          <p>
                            Respecter les règles et les consignes
                          </p>
                        </div>
                        <div>
                          <i class="material-symbols-outlined warning_icon_color">
                            warning
                          </i>
                        </div>
                      </div>
                    </li>
                    <li class="list">
                      <div class="list_paragraph">
                        <div>
                          <p>
                            Ne pas avoir de garanties
                          </p>
                        </div>
                        <div>
                          <i class="material-symbols-outlined warning_icon_color">
                            warning
                          </i>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container block_area_icons_languages block_area_outils_seo">
        <h2 class="subtitle_blocks_services icons_technologie_dev">
          Nos Outils SEO
        </h2>
        <p class="paragraph_services_dev paragraph_services_technologie paragraph_outils_seo">
          Les technologies exploitées pour le développement des applications
          métier sur-mesure. Faites appel à des spécialistes hautement
          expérimentés en développement de bureau, Web et mobile . Nos
          développeurs utilisent les dernières technologies, Framework et
          composants pour créer des solutions qui combinent un back-end
          technique solide avec un design moderne facile à utiliser .
        </p>

        <div class="slider">
          <div class="slide-track">
            {% for picsSeoImages in picsSeo %}
              <div class="slide">
                <img class="images"
                  src="{{ asset('picsSeo/' ~ picsSeoImages.link) }}"
                  alt="image de l'icone du langage php" />
              </div>
            {% endfor %}
            {# <div class="slide">
              <img class="images"
                src="{{ asset('/images_developpementWeb/PHP-1.jpg') }}"
                alt="image de l'icone du langage php" />
            </div>
            <div class="slide">
              <img class="images"
                src="{{ asset('/images_developpementWeb/python-1.jpg') }}"
                alt="image de l'icone du langage Python" />
            </div>
            <div class="slide">
              <img class="images"
                src="{{ asset('/images_developpementWeb/react-1.jpg') }}"
                alt="image de l'icone du langage Reactjs" />
            </div>
            <div class="slide">
              <img class="images"
                src="{{ asset('/images_developpementWeb/symfony-1.jpg') }}"
                alt="image de l'icone du langage Symfony" />
            </div>
            <div class="slide">
              <img class="images"
                src="{{ asset('/images_developpementWeb/angular-1.jpg') }}"
                alt="image de l'icone du langage Angular" />
            </div> #}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
